@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */

:root {
    --swiper-navigation-size: 30px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 5px;
    --swiper-navigation-color: var(#004578);
}

.swiper-button-next:after {
    color: #004578;
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.background-blue-camel {
    background-color: #114778;
}

.border-blue-camel {
    border-color: #114778;
}

.background-blue-camel-alt {
    background-color: #00abe3;
}

.background-blue-camel-yellow {
    background-color: #fdea34;
}

.text-color-camel-blue {
    color: #114778;
}

.text-color-camel {
    color: #fdea34;
}

.text-color-camel-alt {
    color: #00abe3;
}

.text-color-terms {
    color: #a5a4a5;
}

.card-description p:not(:last-child) {
    margin-bottom: 20px;
}

.toggleable-div {
    display: none;
    /* Add your styling for the hidden divs here */
}

@media only screen and (min-width: 420px) {
    .page-end .bg-footer-image {
        background-size: cover!important;
        background-position: 40%;
    }
}


/* Customize step circle size and styles */

.step-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #0f73a7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #0f73a7;
}

.step-circle.active {
    background-color: #00abe3;
    border: 2px solid #00abe3;
    color: #fdea34;
}


/* Customize step checkmark styles */

.step-checkmark {
    position: absolute;
    font-size: 24px;
    /* color: #fdea34; */
    right: 3px;
    bottom: 3px;
}


/* Customize step separator styles */

.step-separator {
    margin-right: 3vw;
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    color: #004578;
}

.nav-main {
    position: fixed;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: auto;
    top: 10px;
    left: 0;
    width: 100%;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border: 1px solid #004273
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #004273;
}